.box1
{
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    width: 100%;
    height: 75vh;

}
.gad
{
    background-color: rgba(207, 112, 207, 0.822);
    width: 1000px;
    height: 600px;
    margin-left: 20%;
    position: absolute;
    margin-top: 10%;
}
.gad1
{
    margin: 30px;
}
.gad1 h1
{
    color: white;
    font-size: 50px;
}
.gad1 h3
{
    color: white;
    font-size: 25px;
    line-height: 70px;
}
.gad1 p
{
    color: white;
    font-size: 20px;
    width: 550px;
    line-height: 40px;
}
.row 
{
    display: inline-flex;
    
    grid-template-rows: auto auto auto;
}
.row1
{
    width: 200px;
    height: 330px;
    
}
.row1>p
{
    position: absolute;
    bottom: 30%;
    padding: 15px;
}
.row1>i
{
    position: absolute;
    bottom: 20%;
    margin-left: 60px;
    font-size: 45px;
    color: white;
}
.gad img
{
    width: 350px;
    height: 570px;
    position: absolute;
    bottom: 3%;
}
